.landing{
    height:8%;
}



.sidenav-trigger{
    color: #000;
}

.sidenav {
    background-color: rgb(43, 35, 35) ;
    
}

/* .slide{
    
} */

.sidenav li a {
    color:#fff;
}


.sidenav li a i.material-icons {
    color:#fff;
}

    



nav .nav-wrapper{
    width: 100%;
}

h2 {
    font-size: 45px;
}

.header_cont{
    margin-left: 10%;
}

.btn{
    background-color: #5353df;
}

.second{
    margin-left: 5%;
}

nav{
    background-color: #e2e2ee;
    width: 100%;
    /* max-width: 3000px; */
    height: 56px;

}
a{
    list-style: none;
}
nav a{
    color: #000;
}
nav ul a{
    color: #000;
}

.container {
    margin: 0 ; 
    width: 100%;
    max-width: 1700px;

}


.image{
    padding-left: 30%;

}
.linker{
    color: #000;
    font-size: 17px;
}
.notif_container{
    margin-left: 3%;
}



.product_name,.total_price{
    font-size: 23px;
}
.card .card-content{
    padding-top: 1px;
    padding: 8px;
}
.card-cont{
    margin-top: 3%;
}
.product_name{
    /* margin-right: 7% ; */
    font-size: 20px;
}
.product_info{
    margin-left: 3%;
}
.product_status{
    color: #90ee90;
}

.total_price, .price{
    float: right
}
.customer_header{
    margin-left: 6%;
}
.cus_header{
    font-size: 30px;
}

.segments,.latest_purchase,.Balance,.quantity,.customer_name{
    margin-left: 2%;
    font-size: 30px;
   
}
.arrows{
    float: right;
    border-radius: 5px;
    margin-left: 1%;
}
.page{
    float: right;
    font-size:20px;
}

.reminder{
    margin: 4%; 
}

.email-reminder{
    margin-left: 5%;
}

.customer_name_{
    font-size: 18px;
    padding-left: 5%;
}

.objects{
    margin: 3%;
}



.name{
    font-style: italic;
    padding-right: 3%;
    color: yellowgreen;
}

.history_cont{
    margin-left:3% ;
}


.filter_card{
    margin: 1%;
    font-size: 18px;
}

#icon_prefix.validate{
    width:100%
}

.filter_order{
    font-size: 25px;
    margin: 3%;
    margin-left: 7%;
    
}
.sortOptions{
    margin-left: 7%;
}
 .filter{  
    margin: 0;
}
.card_filter{
    margin-top: 1%;
}

.sort {
    margin: 0; 
}

.order_status{
    padding-left: 50%;
    font-size: 25px;
}

select{
    display: block;
    width: 17%;
    margin: 0;
    
}

.order{
    padding-left: 4%;
}

.notif{
    margin: 1%;
    font-size: 20px;

}

.status, .price_, .sent{
    padding-left: 19%;
}
.delivery{
    margin-left: 0;
}

.pendingOrders{
    padding-left: 5%;
    color: violet;
}

.customer_info{
    margin-left: 5%;
}

.balance{
    margin-left: 5%;
}
.customer_Header{
 margin-left: 4%;
 font-size: 38px;
}

.customer_table{
    margin: 4%;

}

.table{
    max-width: 100%;
}
.validate{
    padding-left: 3%;
}
.product_name{
    margin: 1%;
}

col.m3.searchbtn{
    margin-top: 2%;
}
.products{
    margin: 1%;
}

.order_table{
    margin-top: 3%;
}
@media  (max-width: 320px){
    .image{
        padding-left: 20%;
    }
    .products{
        width: 117%;
    }
    .pending_orders{
        width: 140%;
    }
    .product_name{
        font-size: 11px;
    }
    .date,.time, .price, .product_status{
        font-size: 9px;
    }
    .header{
        margin: 2%;
    }

}

@media  (max-width: 411px){
    .header{
        margin-left: 5%;
    }
    .card-holder{
        margin: 2%;
    }
    .card-cont{
        margin-top: 3%;
    }
    .one,.two{
        margin: 3%;
    }
    .one{
        margin-left: 25%;
        width: 120%;
       
    }
    .two{
        margin-left: 60%;
        width: 105%;
    }
    .total_orders,.total_cus{
        font-size: 15px;
        margin: 1%;
    }
    .pendingOrders{
        margin: 2%;
    }
    .pending_orders{
        width: 130%;
    }
    .product_name, .total_price{
        font-size: 15px;
    }
    .customer_name{
        font-size: 13px;
    }
    .products{
        width: 100%;
    }
    .date,.time, .price, .product_status{
        font-size: 13px;
    }
    

}


@media  (max-width: 320px){
    .pending_orders{
        width: 120%;
    }
    .products{
        width: 100%;
    }

}


@media only screen and (min-width: 601px)
   {

   .row .col.m10{
       width: 70%;
   } 
    
}